.nav {
    background-color: #e7f1ff;
    padding-top: 20px;
    width: 320px;
    position: fixed;
    height: 100%;
}

.item a {
    text-align: right;
    color: #001b42;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    display: block;
    padding-right: 20px;
    vertical-align: center;
    padding-bottom: 3px;
    cursor: pointer;
}

.item a.activeLink {
    color: #ffffff;
    border-radius: 20px;
    background-color: #397fe7;
}

.item{
    cursor: pointer;
}
