.item {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0;
  font-family: "RobotoSlab";
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  color: #001b42;
}

.ava {
  width: 100px;
  height: 100px;
  border-radius: 300px;
  background: url("https://cdn.discordapp.com/attachments/447687027564216330/744905265475747960/unknown.png") center center/cover no-repeat;
}

.message{
  margin-top: 20px;
  max-width: 532px;
  word-wrap: break-word;
}

.like{
  width: 100%;
  font-size: 24px;
}

.text{
  flex-grow:1;
  flex-shrink: 1;
  margin: 0 30px;
}
